<div id="full-width">
    <div class="container">
        <div class="row">
            <div class="col" id="structural-coba-meta">
                <app-meta-navigation></app-meta-navigation>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col" id="structural-coba-headline">
            <h1>
                <a href="#">{{appTitle}}</a>
            </h1>
        </div>
        <div class="col" id="structural-coba-logo">
        </div>
    </div>
</div>

<div id="structural-coba-hnav">
    <div class="container">
        <div class="row">
            <div class="col">
                <app-main-navigation></app-main-navigation>
            </div>
        </div>
    </div>
</div>
<!-- Styling the collapsed menu (expanded menu is styled in main-navigation.component)-->
<div class="container d-md-none">
    <div class="row">
        <div class="col">
            <div class="collapse collapsed-menu" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item structural-coba-hnav-top-item">
                        <a class="nav-link" id="nav-demo-link-1" routerLink="/demo1" routerLinkActive="active">
                            <span class="custom-underline" id="nav-demo-item-1">Demo 1</span>
                        </a>
                    </li>
                    <li class="nav-item structural-coba-hnav-top-item">
                        <a class="nav-link" id="nav-demo-link-2" routerLink="/demo2" routerLinkActive="active">
                            <span class="custom-underline" id="nav-demo-item-2">Demo 2</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="div-as-panel">
        <router-outlet></router-outlet>
    </div>
</div>

<app-footer class="fixed-bottom"></app-footer>
