<div class="row">
    <div class="col-lg-4">
        <h2>Application based on the FRAME architecture</h2>
        <p>Welcome to the generated FRAME Angular application.</p>
        <p>The target of this demo-application is to demonstrate the use of the technologies FRAME introduces.
            For more information about the architecture of this application
            and the usage of the components see the
            <a href="http://frame.intranet.commerzbank.com" target="_blank">documentation</a>.
        </p>
        <p>Version: {{appVersion}}</p>
    </div>
</div>
<p>Production: {{env.production}}</p>
