<div class="fixed">
    <div class="structural-coba-footer" id="structural-coba-appfooter">
        {{userInfo?.frmuser}} @ {{appName}} on {{location.host}} {{appVersion}} | Copyright 2002-{{today | date:'yyyy'}}
        Commerzbank AG
    </div>
</div>
