<nav class="navbar navbar-expand-md navbar-light bg-light structural-coba-hnav-panel">
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent"
            data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Styling the expanded menu (collapsed menu is styled in app.component) -->
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item structural-coba-hnav-top-item">
                <a class="nav-link" id="nav-demo-link-1" routerLink="/demo1" routerLinkActive="active">
                    <span class="custom-underline" id="nav-demo-item-1">Demo Tab 1</span>
                </a>
            </li>
            <li class="nav-item structural-coba-hnav-top-item">
                <a class="nav-link" id="nav-demo-link-2" routerLink="/demo2" routerLinkActive="active">
                    <span class="custom-underline" id="nav-demo-item-2">Demo Tab 2</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
